@page "/material/add"
@using Bosch.Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Nový materiál</h3>
<EditForm Model="@material" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<InputText id="name" @bind-Value="material.Nazev" />
	<button type="submit" class="btn btn-outline-primary btn-sm">Přidat</button>
</EditForm>

@code {
     Material material = new Material();

    private async void HandleValidSubmit()
    {
        var result = await Http.PostAsJsonAsync<Material>($"/api/material/add", material);
        NavManager.NavigateTo("/material/list");
    }
}
