@page "/jizdnirady"
@using Bosch.Shared
@inject HttpClient Http
@inject NavigationManager Navigation

<h1>Jizdni rady</h1>

@if (jizdnyRady == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Název</th>
                <th>Platnost</th>   
                <th>Úpravy</th>   
            </tr>
        </thead>
        <tbody>
            @foreach (var jizdniRad in jizdnyRady)
            {
            <tr>
                <td>@jizdniRad.Id</td>
                <td>@jizdniRad.Nazev</td>
                <td>@jizdniRad.Platnost</td>
                <td>
					<button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => Edit(jizdniRad.Id))">
						<span class="oi oi-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => Delete(jizdniRad.Id))">
						<span class="oi oi-trash" aria-hidden="true"></span>
					</button>
				</td>
            </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => Add())">
        <span class="oi oi-plus" aria-hidden="true"></span>
    </button>
}

@code {
    private List<JizdniRad> jizdnyRady;

    protected override async Task OnInitializedAsync()
    {
        jizdnyRady = await Http.GetFromJsonAsync<List<JizdniRad>>("/api/jizdnirad/list");
    }

    private void Delete(int id)
	{

	}

	protected void Edit(int id)
	{
		Navigation.NavigateTo("jizdnirady/edit/" + id);
	}

	protected void Add()
	{
		Navigation.NavigateTo("jizdnirady/edit/" + -1);
	}

}