@page "/material/list"
@using Bosch.Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Materiály</h3>

@if (materialy == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazev</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in materialy)
            {
                <tr>
                    <td>@material.Nazev</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => EditMaterialu(material.Id))">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => Delete(material.Id))">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => Add())">
        <span class="oi oi-plus" aria-hidden="true"></span>
    </button>
}

@code {
    private Material[] materialy;

    protected override async Task OnInitializedAsync()
    {
        materialy = await Http.GetFromJsonAsync<Material[]>("/api/material/list");
    }

    private async void Delete(int id)
    {
        var result = await Http.PostAsJsonAsync<int>($"/api/material/remove/{id}", id);
        NavManager.NavigateTo("/material/list");
    }

    private void EditMaterialu(int id)
    {

        NavManager.NavigateTo("/material/edit/" + id);
    }

    protected void Add()
    {
        NavManager.NavigateTo("/material/add");
    }
}
