@page "/material/edit/{id:int}"
@using Bosch.Shared
@inject HttpClient Http
@inject NavigationManager NavManager

@if (material != null)
{

<h3>Správa Materialu</h3>
    <EditForm Model="@material" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="name" @bind-Value="material.Nazev" />
        <button type="submit">Submit</button>
    </EditForm>
}

@code
{
    [Parameter]
    public int Id { get; set; }
    public Material material;


    protected override async Task OnInitializedAsync()
    {
        material = await Http.GetFromJsonAsync<Material>($"/api/material/edit/{Id}");
    }

    private async void HandleValidSubmit()
    {
        var result = await Http.PostAsJsonAsync<Material>($"/api/material/save", material);
        NavManager.NavigateTo("/material/list");
    }

}

