@page "/material/list"
@using Bosch.Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<h1>Materialy</h1>

@if (materialy == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazev</th>
                <th>Id</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in materialy)
            {
            <tr>
                <td>@material.Nazev</td>
                <td>@material.Id</td>
                <td><button @onclick="() => EditVlacku(material.Id)">Edit</button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Material[] materialy;

    protected override async Task OnInitializedAsync()
    {
        materialy = await Http.GetFromJsonAsync<Vlacek[]>("/api/material/list");
    }

    private void EditVlacku(int id)
    {

        NavManager.NavigateTo($"/material/edit/{id}");
    }

