@page "/vlacek/list"
@using Bosch.Shared
@using System.Threading;
@inject HttpClient Http
@inject NavigationManager NavManager

<h1>Vláčky</h1>

@if (vlacky == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jméno</th>
                <th>Kapacita</th>
                <th>Náklad</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vlacek in vlacky)
            {
                <tr>
                    <td class=vlacek>@vlacek.Id</td>
                    <td> @vlacek.Jmeno</td>
                    <td>@vlacek.Kapacita</td>
                    <td>@vlacek.getNaklad()</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="() => EditVlacku(vlacek.Id)">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => Delete(vlacek.Id))">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => Add())">
        <span class="oi oi-plus" aria-hidden="true"></span>
    </button>
}

@code {
    private Vlacek[] vlacky;

    protected override async Task OnInitializedAsync()
    {
        vlacky = await Http.GetFromJsonAsync<Vlacek[]>("/api/vlacek/list");
    }

    private async void Delete(int id)
    {
        var result = await Http.PostAsJsonAsync<int>($"/api/vlacek/remove/{id}", id);
        NavManager.NavigateTo("/vlacek/list", forceLoad: true);
    }

    private void EditVlacku(int id)
    {

        NavManager.NavigateTo("/vlacek/edit/" + id);
    }

    private int Count { get; set; } = 10;

 

    protected void Add()
    {
        NavManager.NavigateTo("/vlacek/add");
    } }