@page "/vlacek/edit/{id:int}"
@using Bosch.Shared
@inject HttpClient Http

<h3>Správa vláčku</h3>
<EditForm Model="@vlacek" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" @bind-Value="vlacek.Jmeno" />
    <button type="submit">Submit</button>
</EditForm>


@code { [Parameter]
    public int Id { get; set; }

    private Vlacek vlacek { get; set; }

    protected override async Task OnInitializedAsync()
    {
        vlacek = await Http.GetFromJsonAsync<Vlacek>($"api/vlacek/edit/{Id}");
    }

    private async void HandleValidSubmit()
    {
        //await AgentService.Save(Agent);
        //Navigation.NavigateTo("agent/list");
        var result = await Http.PostAsJsonAsync<Vlacek>($"api/vlacek/save", vlacek);
    } }
