@page "/vlacek/list"
@using Bosch.Shared
@inject HttpClient Http

<h1>Vlacky</h1>

@if (vlacky == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kapacita</th>
                <th> Náklad </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vlacek in vlacky)
            {
            <tr>
                <td class=vlacek>@vlacek.Id</td>
                <td>@vlacek.Kapacita</td>
                <td> @vlacek.Naklad</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Vlacek[] vlacky;

    protected override async Task OnInitializedAsync()
    {
        vlacky = await Http.GetFromJsonAsync<Vlacek[]>("/api/vlacek/list");
    }

}