@page "/vlacek/edit/{id:int}"
@using Bosch.Shared
@inject HttpClient Http

<h3>Správa vláčku</h3>


@code { [Parameter]
    public int Id { get; set; }

    private Vlacek Vlacek { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Vlacek = await Http.GetFromJsonAsync<Vlacek>($"api/vlacek/edit/{Id}");
    }

    private async void HandleValidSubmit()
    {
            //await AgentService.Save(Agent);
            //Navigation.NavigateTo("agent/list");
        var result = await Http.PostAsJsonAsync<Vlacek>($"api/vlacek/save", Vlacek);
    } }
